h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.col {
  padding-bottom: 50px;
}
body {
  background-color: rgb(241, 245, 246);
}
.card {
  text-align: center;
  align-items: center;
}
